<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign-up</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap-3.3.7.min.css"/>
    <!--<link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css"/>-->
</head>
<body>
<div class="container">
    <form action="#" th:action="@{/sign-up/accept}" th:object="${student}" method="post"
          style="max-width: 220px; margin: 0 auto; font-size: larger;">

        <h3 class="form-signin-heading" align="center">New User</h3>

        <div class="form-group">
            <input type="hidden" name="userId" id="userId" th:field="*{user.userId}"/>
        </div>

        <div th:class="${#fields.hasErrors('user.name') ? 'form-group has-error has-feedback' : 'form-group has success'}">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" th:field="*{user.name}" style="width: 220px;" class="form-control" placeholder="Name" required/>
            <label class="control-label" for="name" th:if="${#fields.hasErrors('user.name')}" th:errors="*{user.name}">Incorrect
                name</label>
        </div>

        <div th:class="${#fields.hasErrors('user.surname') ? 'form-group has-error has-feedback' : 'form-group has success'}">
            <label for="surname">Surname</label>
            <input type="text" name="surname" id="surname" th:field="*{user.surname}" style="width: 220px;" class="form-control"placeholder="Surname" required/>
            <label class="control-label" for="surname" th:if="${#fields.hasErrors('user.surname')}" th:errors="*{user.surname}">Incorrect
                surname</label>
        </div>

        <div th:class="${#fields.hasErrors('user.email') ? 'form-group has-error has-feedback' : 'form-group has success'}">
            <label for="email">E-mail</label>
            <input type="text" name="email" id="email" th:field="*{user.email}" style="width: 220px;" class="form-control" placeholder="E-mail" required/>
            <label class="control-label" for="email" th:if="${#fields.hasErrors('user.email')}"
                   th:errors="*{user.email}">Incorrect e-mail</label>
        </div>

        <div th:class="${#fields.hasErrors('user.password') ? 'form-group has-error has-feedback' : 'form-group has success'}">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" th:field="*{user.password}" class="form-control" placeholder="Password" required/>
            <label class="control-label" for="password" th:if="${#fields.hasErrors('user.password')}"
                   th:errors="*{user.password}">Incorrect
                password</label>
        </div>

        <div th:class="${#fields.hasErrors('entranceYear') ? 'form-group has-error has-feedback' : 'form-group has success'}">
            <label for="year">Year</label>
            <select name="year" id="year" th:field="*{entranceYear}" style="width: 50px" class="form-control">
                <option th:value="2017" th:text="2017"></option>
                <option th:value="2018" th:text="2018"></option>
                <option th:value="2019" th:text="2019"></option>
                <option th:value="2020" th:text="2020"></option>
            </select>
            <label class="control-label" for="year" th:if="${#fields.hasErrors('entranceYear')}"
                   th:errors="*{entranceYear}">Incorrect year</label>
        </div>

        <div>
            <label for="organisation">Organisation</label>
            <select name="organisation" id="organisation"  style="width: 150px" class="form-control">
                <option value="0" th:text="--Select--"></option>
                <option th:each="organisation : ${organisations}"
                        th:value="${organisation.orgId}"
                        th:text="${organisation.name}">Organisation
                </option>
            </select>
        </div>

        <div>
            <label for="faculty">Faculty</label>
            <select name="faculty" id="faculty" style="width: 150px" class="form-control">
                <option value="0" th:text="--Select--"></option>
                <option th:each="faculty : ${faculties}"
                        th:value="${faculty.facId}"
                        th:text="${faculty.name}">Faculty
                </option>
            </select>
        </div>

     <!--   <div th:class="${#fields.hasErrors('studentClass') ? 'form-group has-error has-feedback' : 'form-group has success'}">
            <label for="class">Class</label>
            <select name="class" id="class" th:field="*{studentClass}" style="width: 150px" class="form-control">
                <option value="0" th:text="&#45;&#45;Select&#45;&#45;"></option>
                <option th:each="class : ${classes}"
                        th:value="${class.classId}"
                        th:text="${class.name}">Class
                </option>
            </select>
            <label class="control-label" for="class" th:if="${#fields.hasErrors('studentClass')}"
                   th:errors="*{studentClass}">Incorrect class</label>
        </div>-->

        <label class="label label-danger" th:text="${unexpectedError}"/>

        <div class="form-group">
            <div class="btn-group btn-group-justified">
                <div class="btn-group">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
                <div class="btn-group">
                    <a th:href="@{/login-custom}">
                        <input type="button" class="btn btn-default" value="Cancel"/>
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>