<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Start</title>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

</head>
<body>

<p>Hello LMS User <span th:text="${username}"/>! (<span th:text="${name}"/>)</p>

<p>
    <button onclick="location.href = 'localhost:8090/student/test';" id="start" class="float-left submit-button">
        Start>>
    </button>
</p>



</body>
</html>