<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Start</title>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>
<body>

<p>Hello, User :: <span th:text="${username}"/>! </p>

<p>
    <a href="http://localhost:8090/student/test" target="_self">Start>></a>
</p>

<p>
    <button id="start" name="start" class="float-left submit-button">
        Start new window>>
    </button>
</p>
</body>

<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
<script type='text/javascript'>
 /*   $("#start").click(function(e) {
        //alert('ok');
        $.ajax({
            type: "GET",
            url: "/student/data",
            data: {},
            success: function(result) {
                alert('ok'+result);
            },
            error: function(result) {
                alert('error');
            }
        });
    });*/
</script>

</html>